/* =====================
    about
===================== */
.table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    border: solid 1px #858585;
    line-height: 2;
    font-size: 14px;
    tr {
        width: 130px;
        height: 30px;
        text-align: left;
        &:not(:last-child) {
            border-bottom: solid 1px #858585;
        }
    }
    th {
        padding-left: 16px;
        background-color: $l-grey;
        font-weight: normal;
        color: #fff;
        border-right: solid 1px #858585;
    }
    td {
        padding-left: 24px;
    }
    th,
    td {
        vertical-align: middle;
    }
    @include mq-up(md) {
        width: 570px;
        height: 370px;
        font-size: 13px;
    }
}