/* =====================
  common setting
===================== */

* {box-sizing:border-box;}
//
//html {
//  font-size: 13px;
//  @include mq-up(md) {  font-size: 16px;  }
//}

body {
    position: relative;
  width: 100%;
  color: $base-text;
  background: $main-color;
  @include font-family("hiraginoG");
    font-size: 12px;
}

//*  Sectioning content
//------------------------*/

/*  Heading content
------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}


/*  Phrasing content
------------------------*/
li {
    list-style-type: none;
}
a {
    color: $base-text;
    text-decoration: none;
}
span {
 @include font-family("hiraginoG");
}


//*  Interactive content
//------------------------*/



/*  Embedded content
------------------------*/

img {
  width: 100%;
  height: auto;
}

/*  hover
------------------------*/
a:hover {
    opacity: .5;
    transition: .15s
}