/* =====================
  common setting
===================== */

* {
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    color: $base-text;
    background: $main-color;
    @include font-family("hiraginoG");
    font-size: 12px;
}

//*  Sectioning content
//------------------------*/

/*  Heading content
------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}


/*  Phrasing content
------------------------*/

li {
    list-style-type: none;
}

a {
    color: $base-text;
    text-decoration: none;
}

span {
    font-style: normal;
    font-weight: bold;
    @include font-family("hiraginoG");
}

//*  Interactive content
//------------------------*/

/*  Embedded content
------------------------*/


/*  hover
------------------------*/

a:hover {
    opacity: .5;
    transition: .15s
}