/* =====================
    buy
===================== */

.welcome {
    width: 80%;
    margin: 0 auto 32px;
    line-height: 2;
}

.buy-heading {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
}

.buy-heading+p,
.square.s-buy+p {
    width: 90%;
    margin: 0 auto 24px;
    @include mq-up(md) {
        width: 95%;
        margin: 0 auto 35px;
    }
}

.contact-number {
    display: inline-block;
    width: auto !important;
    margin: 0 16px 0 0!important;
    font-weight: bold;
    font-size: 18px;
    @include mq-up(md) {
        margin: 0 35px 0 0 !important;
        font-size: 22px;
        +p {
            display: inline-block;
        }
    }
}

.receptiontime {
    display: inline-block;
    font-size: 12px;
}

.l-contact {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 10px auto 16px;
    padding: 30px 0;
    border-bottom: solid 1px #666;
    line-height: 2;
    font-size: 13px;
    @include mq-up(md) {
        flex-direction: row;
    }
}

.contact__left {
    width: 100%;
    img {
        width: 100%;
        +img {
            margin-top: 16px;
        }
        @include mq-up(md) {
            width: auto;
            height: 180px;
            +img {
                height: 120px;
            }
        }
    }
    @include mq-up(md) {
        width: 30%;
        max-width: 240px;
        padding-right: 40px;
    }
}

.address {
    margin-bottom: 40px;
    line-height: 1.6;
    font-size: 15px;
}

.contact__right {
    width: 90%;
    @include mq-up(md) {
        width: 70%;
        .pdf-dl {
            width: 90%;
            img {
                width: 100% !important;
            }
            &+p {
                margin-top: 30px;
            }
        }
    }
}

.square.s-buy {
    width: 138px;
    height: 28px;
    background-color: #e60012;
    font-size: 16px;
}