/* ---------------------
    - common setting
    - layout
    - header
    - main
    - footer
--------------------- */

//
//li {list-style: none;}
//
//a {
//    text-decoration: none;
//    @include linkColor(); //hover etc -> mixin
//}
//a:link {} //Before visiting
//a:visited {} //After visiting
//
//
//header {}
//main {display: block;}
//footer {}
//
//
///* =====================
//  layout
//===================== */
//
//
//
.l-header {
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 4%;
    line-height: 2;
    background-color: rgba($main-color, .5);
}

//.l-footer {}

/* =====================
  header
===================== */

.l-logo {
    width: 100%;
    margin: 68px auto 28px;
    text-align: center;
    text-align: -webkit-center;
    img {
        display: block;
        width: 60px;
        text-align: center;
    }
}

.header-nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
    height: 40px;
}

.header-nav li {
    position: relative;
    flex: 1 calc(100% / 6);
    text-align: center;
    &+li::after {
        content: '|';
        position: absolute;
        display: block;
        top: 0;
    }
}

.header-nav-item {
    margin-left: 5%;
    color: #333;
}

///* =====================
//  contents
//===================== */
//
///*  main > hero
//------------------------*/
//
//.hero {}
//.hero-heading {}
//.hero-description {}
//
//
//
///* =====================
//  footer
//===================== */
//
//
//h1 { .footer-logo {}}
//.???_address {}
//ul { li {}a {}}
//.copyright {}