/* =====================
  slider
===================== */

#slider {
    position: relative;
    overflow: hidden;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        width: 100%;
        position: absolute;
        margin: 0;
        padding: 0;
    }
    img {
        width: 100%;
        height: auto;
    }
}

.slider__inner:hover #prev,
.slider__inner:hover #next {
    opacity: .5;
    transition: .35s
}

#prev,
#next {
    opacity: 0;
    display: block;
    position: absolute;
    top: 50%;
    z-index: 500;
    width: 100px;
    height: 40px;
    transition: .25s;
    cursor: pointer;
    color: transparent;
}
#prev {
    left: 0;
}

#next {
    right: -18px;
    margin-right: 20px;
}

#prev:before,
#next:before {
    /*白い丸 */
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    border-radius: 50%;
    background: #000;
}

#next:before {
    right: 50px;
}

#prev:before {
    left: 50px;
}

#prev:after,
#next:after {
    /*「after要素」で三角 */
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    margin-top: -20px;
    border: 20px solid transparent;
}

#next:after {
    right: 42px;
    margin-top: -20px;
    border-left: 20px solid #fff;
}

#prev:after {
    left: 38px;
    margin-top: -20px;
    border-right: 20px solid #fff;
}