/* =====================
  slider
===================== */

#slider {
    position: relative;
    overflow: hidden;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        width: 100%;
        position: absolute;
        margin: 0;
        padding: 0;
    }
    img {
        width: 100%;
        height: auto;
    }
}

#prev {
    position: absolute;
    left: 0;
    z-index: 500;
}

#next {
    position: absolute;
    right: 0;
    z-index: 500;
}
