/* =====================
    privacy
===================== */
.privacy-content {
    width: 100%;
    padding: 0 5%;
    &:first-child {
        margin-top: 40px;
    }
    &:not(:last-child) {
        margin-bottom: 40px;
    }
    &:last-child {
        margin-bottom: 127px;
    }
    @include mq-up(md) {
        padding: 0 10%;
    }
    @include mq-up(lg) {
        max-width: 900px;
        padding: 0;
        margin: auto;
    }
}
.privacy-headline {
    font-weight: bold;
    font-size: 16px;
}
.privacy-text {
    padding: 24px;
    line-height: 2.2;
    @include mq-up(md) {
        line-height: 2;
    }
}
