/* =====================
    store
===================== */
.store__inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column; 
    @include mq-up(md) {
        width: 700px;
        margin: auto;
        flex-direction: row;
    }
}

.store__left {
    text-align: center;
    text-align: -webkit-center;
    margin-bottom: 27px;
    img {
        display: block;
        width: 300px;
        height: 300px;
    }
}

.store__right {
    padding: 30px 10% 16px;
    line-height: 1.3;
    font-weight: bold;
    font-size: 13px;
    p {
        margin-bottom: 8px;
    }
    &:first-child {
        margin-bottom: 16px;
    }
    p:not(:first-child) {
        padding-left: 20px;
    }
    @include mq-up(md) {
        width: 400px;
        margin-bottom: 12px;
        padding: 0 0 0 30px;
    }
}

.store-heading {
    margin-bottom: 20px;
    font-size: 16px;
}

.store-number {
    display: inline-block;
    width: auto;
    margin: 0 16px 0 0;
    font-size: 18px;
    
    @include mq-up(md) {
    font-size: 22px;
}
}
.easymap {
    width: 90%;
    max-width: 775px;
    margin: auto;
}

// google map
.ggmap {
    position: relative;
    margin: 0 auto;
    padding-bottom: 200px;
    padding-top: 20px;
    height: 0;
    overflow: hidden;
    @include mq-up(md) {
        padding-bottom: 380px;
    }
}
.ggmap iframe,
.ggmap object,
.ggmap embed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 200px;
    margin: auto;
    @include mq-up(md) {
        width: 700px;
        height: 380px;
        margin: auto;
    }
}

.ggmap-link {
    a {
        display: inline-block;
        text-decoration: underline;
        color: $link-color;
        &+a {
            margin-left: 50px;
        }
    }
    @include mq-up(md){
        width: 700px;
        margin: auto;
    }
}
