/* =====================
  aside
===================== */
.link {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    @include mq-up(md) {
        justify-content: center;
        margin: auto;
        padding: 0 10%;
    }
    @include mq-up(lg) {
        flex-wrap: nowrap;
        padding: 0 10%;
    }
}

.link-item {
    position: relative;
    width: 100%;
    height: 50px;
    margin: auto;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.51, #9b9c9d), color-stop(0.00, #a9aaab));
    background: -webkit-linear-gradient(top, #a9aaab 0%, #9b9c9d 50%);
    background: -moz-linear-gradient(top, #a9aaab 0%, #9b9c9d 50%);
    background: -o-linear-gradient(top, #a9aaab 0%, #9b9c9d 50%);
    background: -ms-linear-gradient(top, #a9aaab 0%, #9b9c9d 50%);
    background: linear-gradient(to bottom, #a9aaab 0%, #9b9c9d 50%);
    line-height: 3.4;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    a {
        color: $main-color;
    }
    svg {
        position: absolute;
        top: 10px;
        left: 25px;
    }
    svg.fb {
        margin-left: 8px;
        width: 15px;
    }
    svg.in {
        width: 30px;
    }
    @include mq-up(md) {
        position: relative;
        width: 40%;
        height: 50px;
        margin: 4px .5%;
        svg.fb {
            margin: 0;
        }
    }
    @include mq-up(lg) {
        position: relative;
        width: 25%;
        height: 50px;
        margin: 0 .5%;
        svg.fb {
            margin: 0;
        }
    }
}